<h3 *ngIf="user == null">Please Login</h3>
<h3 *ngIf="status == 0 && user != null"> You do not have authorization to view this page!</h3>
<nav class="dashboard-nav">
    <h3 *ngIf="user!=null">{{netid}}</h3>
    <button (click)="setView(0)">Profile</button>
    <button (click)="setView(1)">Lecture</button>
    <button (click)="setView(2)">Staff</button>
</nav>
<div *ngIf="view == 0 && user!=null && status > 0">
    <app-staff-profile-dashboard></app-staff-profile-dashboard>
</div>
<p *ngIf="view == 1 && status < 2 && user!=null">You don't have permissions for Lectures</p>
<p *ngIf="view == 2 && status < 2 && user!=null">You don't have permissions for Staff</p>
<div *ngIf="view == 2 && user!=null && status > 1">
    <app-staff-dashboard></app-staff-dashboard>
</div>
<div *ngIf="view == 1 && user!=null && status > 1" class="lecture-dashboard-container">
    <div class="preview">
        <div class="tabbar">
            <button class="btn" *ngIf="!tableView" (click)="toggleTableView()">Toggle Table View</button>
            <button class="btn" *ngIf="!tableView" (click)="submitLecturePrompt()">Save Changes</button>
            <button class="btn" *ngIf="tableView" (click)="toggleTableView()">
                Preview</button>
        </div>
        <div class="view">
            <div *ngIf="tableView">
                <table class="tb">
                    <tr>
                        <th>LectureID</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Link</th>
                        <th>Slide</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>
                    <tr *ngIf="lectureData">
                        <td>{{lectureData.length}}</td>
                        <td><textarea type="text" id="Title" [formControl]="title"></textarea></td>
                        <td>Automatically dated</td>
                        <td><textarea type="text" id="Link" [formControl]="link"></textarea></td>
                        <td><textarea type="text" id="Slide" [formControl]="slide"></textarea></td>
                        <td><textarea type="text" id="Comment" [formControl]="comment"></textarea>
                        </td>
                        <th><button class="btn" (click)="submitLecturePrompt()">Submit</button>
                        </th>
                    </tr>
                    <tr *ngFor="let lecture of lectureData.reverse(), let i = index">
                        <td>{{lectureData.length-i-1}}</td>
                        <td>{{lecture.Title}}</td>
                        <td>{{lecture.Date}}</td>
                        <td>{{lecture.Link}}</td>
                        <td>{{lecture.Slides}}</td>
                        <td>{{lecture.Comment}}</td>
                        <th><button class="btn" (click)="deleteLecturePrompt(i)">Delete</button></th>
                    </tr>
                </table>
            </div>
            <div class="lecturePreview" *ngIf=" lectureData && !tableView">
                <app-lectures class="lecturePreview" lectureData="{{lectureStringify}}"> </app-lectures>
            </div>
        </div>
    </div>
</div>