<div class="main">
  <button id= "navmobile" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/']" mat-menu-item>Home</button>
    <button [routerLink]="['/hof']" mat-menu-item>Hall of Fame</button>
    <button [routerLink]="['/lectures']" mat-menu-item>Lectures</button>
    <button [routerLink]="['/staff']" mat-menu-item>Staff</button>
    <button [routerLink]="['/schedule']" mat-menu-item>Schedule</button>

  </mat-menu>
  <app-sidebar></app-sidebar>
  <router-outlet class="main-data"></router-outlet>
</div>
