$base-color: #e56e15;

.sidebar-main {
  height: 100%;
  background-color: $base-color;
}

img {
  width: 50%;
  margin-top: 40px;
  margin-left: 25%;
}

button {
  background-color: transparent; /* Green */
  border: none;
  color: rgba(255, 255, 255);
  padding: 15px 16px 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 75%;
  margin-left: 12.5%;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: solid 3px;
  border-color: #1e3877;
}

button:hover {
  color: rgb(255, 255, 255);
}

hr {
  border: none;
  width: 75%;
  color: rgb(255, 255, 255);
  // color: rgba(255,255,0, 0.7);
  margin-top: 30px;
  height: 3px;
}

.button-groups {
  box-sizing: border-box;
  margin-top: 25px;
}
