<div class="sidebar-main">
  <img class="logo" src="../../../assets/logo.png" alt="196-logo" />
  <hr />
  <div class="button-groups">
    <button [routerLink]="['']">H O M E</button>
  </div>
  <div class="button-groups">
    <button [routerLink]="['/hof']">H A L L O F F A M E</button>
  </div>
  <div class="button-groups">
    <button [routerLink]="['/lectures']">L E C T U R E S</button>
  </div>
  <div class="button-groups">
    <button [routerLink]="['/staff']">S T A F F</button>
  </div>
  <div class="button-groups">
    <button [routerLink]="['/grades']">G R A D E S</button>
  </div>
</div>
