.profile {
    margin-top: -4%;
    margin-left: 10%;
    width: 100%;
    display: flex;
}

.profile-dashboard-container {
    margin-left: 5%;
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    width: 100%;
}

.profile-dashboard-container title {
    margin-left: 3%;
    margin-bottom: 3%;
}

.profile-dashboard-container form {
    margin-top: 20%;
    margin-left: 10%;
}