<!-- <h1 class="title">Staff Profile Dashboard</h1> -->
<div class="profile-dashboard-container">
    <div class="form">
        <label>Name:</label><br>
        <input type="text" [formControl]="name"><br>
        <label>Bio:</label><br>
        <input type="text" [formControl]="bio"><br>
        <label>Technical Areas (comma seperated):</label><br>
        <input type="text" [formControl]="technical_areas"><br>
        <label>Languages (comma seperated):</label><br>
        <input type="text" [formControl]="languages"><br>
        <label>Picture:</label><br>
        <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onChange($event)"
            [formControl]="picture"><br>
        <button type='button' (click)="setProfile()">Preview</button>
        <input type='reset' value="Submit" (click)="submitProfile()">
    </div>
    <div class="profile">
        <div *ngIf="profile && profile.name">
            <div class="cards">
                <app-person name="{{ profile.name }}" bio="{{ profile.bio }}" picture="{{ profile.picture }}"
                    technical_area="{{ profile.technical_areas }}" language="{{ profile.languages }}" class="people">
                </app-person>
            </div>
        </div>
        <div *ngIf="isSubmit && !profile">
            <h3>Sent {{isSubmit}} to database!</h3>
        </div>
    </div>
</div>