.container {
  width: 75vw;
  height: 88vh;
  overflow: auto;
}

.helper {
  padding-bottom: 10%;
}

#burger {
  margin-top: 1%;
  left: 0;
  border: rgba(0, 0, 0, 0.5);
  font-size: larger;
}

#button {
  border: 0;
  width: 18vw;
  margin: 1%;
  border-radius: 6px;
}

.sidenav-content {
  height: 5vh;
  width: 20vw;
}

.sidenav {
  padding-right: 2%;
  padding-left: 1%;
  overflow: auto;
}

@media (max-width: 559px) {
  .container {
    margin-top: 3vh;
    width: 100vw;
    height: 88vh;
    overflow: auto;
  }
}
