<h1 style="padding-left: 1vw; padding-top: 6vh" *ngIf="lectures == null">
    Loading...
</h1>
<h1 style="padding-left: 1vw; padding-top: 6vh" *ngIf="lectures.length == 0">
    No lectures yet. Check again later.
</h1>
<div class="helper"></div>
<mat-drawer-container class="container" autosize>
    <div *ngIf="lectures">
        <button id="burger" type="button" (click)="drawer.toggle()">
            <mat-icon>menu_open</mat-icon>
        </button>
    </div>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <h4>Lectures</h4>
        <div class="navContent" *ngFor="let lecture of lectures">
            <button id="button" (click)="drawer.toggle()" (click)="changeLecture(lecture.LectureID)">
                {{ lecture.Title }}
            </button>
        </div>
    </mat-drawer>
    <div class="sidenav-content"></div>
    <mat-drawer-content class="container-content">
        @if (currLecture) {
            <h1>{{ currLecture.Title }}</h1>
            <iframe width="100%" height="400vh" [src]="currLecture.Link | safeUrl"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <a *ngIf="currLecture.Slide !== ''" href="/assets/slides/{{ currLecture.Slide }}"
                target="_blank">
                Click here to get the slides
            </a>
            <i *ngIf="currLecture.Slide === ''">Sorry, no lecture slides available at this point. Please
                check back later.</i>
    
            <p style="white-space: pre-line">
                {{ currLecture.Comment }}
            </p>
        } @else {
            <p>No lecture selected. Please select a lecture from the left hand side.</p>
        }
    </mat-drawer-content>

</mat-drawer-container>