.tb,
th,
td {
    padding: none;
    margin: none;
    border: 1px solid;
    border-color: rgb(188, 188, 188);
    border-collapse: collapse;
}

.staff-container {
    margin-left: 7%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    width: 100%;
}