<div class="staff" id="staff-div">
    <div class="title">Schedule</div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Relevant Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Week divider -->
        <ng-container matColumnDef="weekDivider">
            <mat-cell *matCellDef="let groupBy"> {{groupBy.weekNumber}} </mat-cell>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'divider-row': row.isDivider, 'non-divider-row': !row.isDivider, 'description-row':row.isDescription}"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.isDivider ? 'divider-row' : 'non-divider-row'"></tr> -->


    </table>

    
</div>