.staff {
  padding: 3rem;
}
.title {
  font-size: 3.5rem;
  margin-bottom: 3%;
  margin-top: 3%;
}

#schedule-info{
  margin-left: 5%;
  font-style: italic;
  margin-bottom: 5%;

}

.divider-row{
  font-weight: bold;
}

.non-divider-row .cdk-column-name{
  // background-color: rebeccapurple;
  padding-left: 50px;
  // margin-left: 28px;
}

.description-row{
  font-style: italic;
}
// td.mat-cell:first-of-type{
//   padding-left: 14px;
// }


.staff{
  width: 100%;
}

.mat-column-type{
  font-style: italic;
}


.schedule-tree-invisible {
  display: none;
}

.schedule-tree ul,
.schedule-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

@media (max-width: 559px) {
  .schedule {
    padding-top: 7%;
  }
  .link {
    color: black;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 559px) {
  nav {
    display: none;
  }
}
