<img class="background-image" src="../../../assets/home-background.jpg" alt="students" />

<div class="home-main">
  <h1>Honors@CS128Illinois</h1>
  <h2>
    Illinois' premier freshman honors class run by students, for students.
  </h2>
  <div class="home-buttons">
    <div class="button-1">
      <!-- <-why are they different classes...?-> -->
      <a href="https://docs.google.com/document/d/18nynpyXIr5MQqouuZoEZDn1ebwV8qDGEQ-qsAKd3DhU"
        target="_blank" rel="nooponer noreferrer">
        <button>S Y L L A B U S</button>
      </a>
    </div>
    <div class="button-2">
      <a href="https://youtu.be/19haeL-vTgY" target="_blank" rel="nooponer noreferrer">
        <button>I N F O - V I D E O</button>
      </a>
    </div>

  </div>
</div>